@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Questrial&display=swap');

html {
  height: 100%;  
}

.content {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-container {
  display: flex;
  justify-content: center;
}

.body-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.content h2{
  font-size: 2rem;
  margin-bottom: 0;
}

.content p{
  margin-top:5px;
  font-size: 1.2rem;
}

/* header stuff */

.header-container {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%; 
  padding-top: 20%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.header-image {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  object-fit: contain;
}

/* actual content */

h1 {
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 12rem;
  color: #d9c729;
  margin: 20px 0;
  -webkit-text-stroke: 2px black; 
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%; 
  max-width: fit-content; 
  margin: 40px 0;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 10px;
}

.board-button {
  background-color: #ab9f30; 
  border: 2px solid black;  
  color: white;
  padding: 2vw 4vw; 
  font-family: "Crimson Text", serif;
  font-size: 2.5rem; 
  border-radius: 12px;
  margin: 0 1vw; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  
}

.or {
  padding: 0 100px;
  font-family: "Crimson Text", serif;
  font-size: 4rem;
  margin: 0 10px;
}


.board-button.active {
  background-color: #861313; 
}

.board-button:hover {
  background-color: #b16820;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #861313;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #861313;
  cursor: pointer;
}

.right-text {
  text-align: right;
}

.generate-button {
  background-color: #ab9f30; 
  border: 2px solid black;  
  color: white;
  padding: 10px 40px;
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  border-radius: 12px;
  margin-top: 80px;
  margin-right: 80px;
  margin-left : 180px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  
}

.generate-button:hover {
  background-color: #118f19;
}

.gen-tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding-left: 20px;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hidden-upload-button {
  display: none;
}

.upload-text {
  margin-right:40px;
}

.custom-upload-button {
  background-color: #ab9f30;
  border: 2px solid black;
  color: white;
  padding: 10px 20px;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  border-radius: 12px;
  margin: 40px 0 40px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-upload-button:hover {
  background-color: #118f19;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto; 
  flex-wrap: wrap;
}

.gen-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}

.rank-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  width: 100%;
}

.checkbox-container,
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.img-container { 
  padding-left: 20px;
}

@media (max-width: 1240px){
  .controls {
    align-items: center;
    gap: 300px; 
  }

  .gen-tools {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .gen-section,
  .rank-section {
    margin-right: 0;
  }

  .generate-button{
    margin:0;
  }
}

@media (max-width: 1000px){
  .button-group{
    flex-direction: column;
  }

  .or{
    font-size:2.5rem;
  }

  .controls{
    flex-direction: column;
    gap:0;
  }
}

@media (max-width: 768px) {
  .board-button {
    font-size: 1.5rem; 
    padding: 15px 30px;
  }

  .content h2{
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .gen-section,
  .rank-section {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

  .img-container {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .generate-button {
    font-size: 1.5rem;
    padding: 8px 30px;
  }

  .button-container{
    margin: 20px 0;
  }

  .upload-tools {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .board-button {
    font-size: 1rem; 
    padding: 10px 20px;
    margin: 5px; 
  }

  .button-group {
    flex-wrap: wrap; 
  }
}

/*
.button-group { border: 2px solid teal; }
.body-container { border: 2px solid purple; }
.controls { border: 2px solid red; }
.upload-tools { border: 2px solid blue; }
.upload-content { border: 2px solid green; }
.button-container { border: 2px solid orange; }*/